*.class
.classpath
.project
.settings/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
target/
*.iml

dependency-reduced-pom.xml

*~
cache/*
sql_cache/*

# Compiled python file
*.pyc

# Workload directory
bench/workflows/*

# Plots
*.png

# Annoying Mac file
*.DS_Store
