.title {
  font-weight: bold;
  text-align: center;
}

.submitButton {
  background-color: lightblue;
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.attribute {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

ul{
  width:760px;
  margin-bottom:20px;
  overflow:hidden;
}

li{
  line-height:1.5em;
  float:left;
  display:inline;
  width:33%; /*three columns*/
}

input{
  font-size: 20px;
  border-style: solid;
  border-color: gray;
}

select{
  border-style: solid;
  border-color: gray;
  font-size: 20px;
}

td{
  vertical-align: top;
  text-align: left;
}