<table cellpadding="10">
    <tr>
        <td>
            <b> Metric: </b>
            <select [(ngModel)]="selectedMetric">
                <option *ngFor="let possibleMetric of possibleMetrics"
                        [value] = "possibleMetric">
                    {{possibleMetric}}
                </option>
            </select>
        </td>

        <td align="right">
            <b> Support: </b>
            <input [(ngModel)]="minSupport">
        </td>

        <td>
            <b> Risk Ratio: </b>
            <input [(ngModel)]="minRatioMetric">
        </td>
    </tr>
    <tr>
        <td>
            <b> Attributes: </b>
        </td>
    </tr>
</table>

<ul>
    <input type="checkbox" (change)="updateAll()" [(ngModel)]="checkAll"> Select all<br><br>
    <li *ngFor="let possibleAttribute of possibleAttributes">
        <input type="checkbox"
        (change)="updateAttribute(possibleAttribute)"
        [checked]="checkAttribute(possibleAttribute)">
        {{possibleAttribute}}
    </li>
</ul>

<div style="text-align:right;">
    <button class="submitButton" (click)="runQuery()"> Run Query </button>
</div>
