<table cellpadding="10">
    <td>
        <b> Metric: </b>
        <select [(ngModel)]="selectedMetric">
            <option *ngFor="let possibleMetric of possibleMetrics"
                    [value] = "possibleMetric">
                {{possibleMetric}}
            </option>
        </select>
    </td>

    <td align="right">
        <b> Support: </b>
        <input [(ngModel)]="minSupport">
    </td>

    <td>
        <b> Risk Ratio: </b>
        <input [(ngModel)]="minRatioMetric">
    </td>
</table>

<br>

<table cellpadding="10">
    <td>
        <b> Attributes: </b>
        <select [(ngModel)]="selectedAttribute">
            <option></option>
            <option *ngFor="let possibleAttribute of possibleAttributes" [value] = "possibleAttribute">
                {{possibleAttribute}}
            </option>
        </select>
        <button (click)="addAttribute()"> Add </button>
    </td>

    <td *ngFor="let attribute of attributeSet" class="attribute">
        {{attribute}}
        <button (click)="removeAttribute(attribute)"> - </button>
    </td>
</table>

<div style="text-align:right;">
    <button class="submitButton" (click)="runQuery()"> Run Query </button>
</div>
