<div class="query-wizard">

<div class="title">
    Query Wizard
</div>
<br>

Metrics:
<select [(ngModel)]="selectedMetric">
    <option></option>
    <option *ngFor="let possibleMetric of possibleMetrics"
            [value] = "possibleMetric">
        {{possibleMetric}}
    </option>
</select>
<button (click)="addMetric()"> + </button>

<ul *ngFor="let metric of metricSet">
    <div>
        {{metric}}
        <button (click)="removeMetric(metric)"> - </button>
    </div>
</ul>
<br>

Attributes:
<select [(ngModel)]="selectedAttribute">
    <option></option>
    <option *ngFor="let possibleAttribute of possibleAttributes"
            [value] = "possibleAttribute">
        {{possibleAttribute}}
    </option>
</select>
<button (click)="addAttribute()"> + </button>

<ul *ngFor="let attribute of attributeSet">
    <div>
        {{attribute}}
        <button (click)="removeAttribute(attribute)"> - </button>
    </div>
</ul>
<br>

Support:
<div>
    <input [(ngModel)]="query.minSupport">
</div>
<br>

Risk Ratio:
<div>
    <input [(ngModel)]="query.minRatioMetric">
</div>
<br>

<button (click)="runQuery()"> Run Query </button>