button {
  background-color: darkolivegreen; /* Green */
  border: none;
  color: white;
  /*padding: 10px 10px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}