<div>
  <b> Data path: </b>
  <div>
    <input style="width:50%;"
    [(ngModel)]="dataSource">
  </div>
  <br>
  <b> Table name: </b>
  <div>
    <input style="width:50%;"
    [(ngModel)]="tableName">
  </div>
  <br>
  <b> MacroBase port: </b>
  <div>
    <input style="width:25%;"
    [(ngModel)]="port">
  </div>
  <br>
  <div>
    <button class="importButton" (click)="importData()"> Import </button>
  </div>
</div>

<br> <br> <br>

<div *ngIf="displayTypes">
  <table cellpadding="15" border="1px" style="table-layout: fixed">
    <tr>
      <th> Column Name </th>
      <th> isAttribute </th>
      <th> isMetric </th>
    </tr>
    <tr *ngFor="let colName of colNames">
      <td> {{colName}} </td>
      <td (click)="setType(colName, 'attribute')"
          [style.background-color]="getColor(colName, 'attribute')"
          id="{{colName}} attribute"></td>
      <td (click)="setType(colName, 'metric')"
          [style.background-color]="getColor(colName, 'metric')"
          id="{{colName}} metric"></td>
    </tr>
  </table>
</div>