<div>
  <mat-form-field style="width: 50%">
    <input matInput type="text" placeholder="Data Path" [(ngModel)]="dataSource"/>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="importData()">
    Import
  </button>
</div>

<br>

<div *ngIf="displayTypes">
  <table cellpadding="15" border="1px" style="width: 50%">
    <tr>
      <th> Column Name </th>
      <th matTooltip="Metrics are continuous columns to be analyzed." matTooltipPosition="above">
        Metric
      </th>
      <th matTooltip="Attributes are categorical columns whose values can be used to explain anamolies in a metric." matTooltipPosition="above">
        Attribute
      </th>
    </tr>
    <tr *ngFor="let colType of colTypes; index as i" [attr.data-index]="i">
      <td> {{colType.name}} </td>
      <td>
        <mat-checkbox (change)="updateType(i, 'metric')"
                      [checked]="colTypes[i].isMetric">
        </mat-checkbox>
      </td>
      <td>
        <mat-checkbox (change)="updateType(i, 'attribute')"
                      [checked]="colTypes[i].isAttribute">
        </mat-checkbox>
      </td>
    </tr>
  </table>
</div>