

.itemsetHidden{
    display:none;
}

.high-risk{
    border-color: #FE4842;
    border-style: solid;
    border-width: 3px;
}

.med-risk{
    border-color: #FEB277;
    border-style: solid;
    border-width: 3px;
}

.low-risk{
    border-color: #FECC8B;
    border-style: solid;
    border-width: 3px;
}

.active-schema{
    background-color: #ccebff;
}