.title {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #333;
    padding: 1% 1%;
}

.wizard {
    display: block;
    color: black;
    background-color: #C0C0C0;
    border-color: black;
    border-style: solid;
}

.cell {
    display: block;
    color: black;
    top: 0;
    left: 0;
    background-color: burlywood;
    border-color: black;
    border-style: solid;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    width: 100%;
    background-color: gray;
    color: black;
    text-align: left;
}

.closeButton {
  background-color: firebrick;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.minimizeButton {
  background-color: khaki;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.addButton {
  background-color: darkolivegreen;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}