<mat-toolbar style="background-color: white">
  <app-data-header> </app-data-header>
</mat-toolbar>

<!-- DATA HOMEPAGE -->
<div *ngIf="displayType=='DataHomepage'">
  <div class="column">
    <h1> Config </h1>
    <div class="data-home">
      <app-data-home></app-data-home>
    </div>
  </div>

  <div class="column">
    <h1> Query </h1>
    <br>
    <div>
      <button mat-raised-button color="primary"
              (click)="newQuery()" [disabled]="!isLoaded">
        New
      </button>
      <button mat-raised-button style="background-color:lightgray"
              (click)="editSelected(-1)" [disabled]="selectedIDs.length == 0">
        Edit
      </button>
      <button mat-raised-button style="background-color:lightgray"
              (click)="deleteSelected()" [disabled]="selectedIDs.length == 0">
        Delete
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="accent"
              (click)="exploreSelected()" [disabled]="selectedIDs.length == 0">
        Explore
      </button>

      <br>
      <br>
      <table cellpadding="20" border="1px" width="100%">
        <tr *ngFor="let id of validIDs.reverse()" (click)="selectID(id)" [style.background-color]="getSelectedColor(id)" id="summary{{id}}">
          <td class="summary"> <app-query-summary id={{id}}></app-query-summary> </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- EXPLORE EXPLANATIONS -->
<div class="row" *ngIf="displayType=='Explore'">
  <div class="column">
    <h1> Explanation </h1>
    <div *ngFor="let id of exploreIDs">
      <div id="summary{{id}}" class="summary" style="background-color:burlywood">
        <app-query-summary id={{id}}></app-query-summary>
        <span style="text-align: right">
          <button mat-raised-button
                  (click)="editSelected(id)">
            Edit
          </button>
        </span>
      </div>
      <div id="cell{{id}}" class="cell">
        <app-cell id={{id}}></app-cell>
      </div>
      <br>
    </div>
  </div>

  <div class="column">
    <h1> &nbsp;&nbsp;&nbsp; Visualization </h1>
    <div style="text-align:center;">
      <button id="plotButton" (click)="togglePlot()">Plot</button>
      <br> <br>
      <div *ngIf="isPlot">
        <div *ngFor="let metric of plotIDsByMetric.keys()">
          <b> Metric: {{metric}} </b>
          <div *ngFor="let queryID of plotIDsByMetric.get(metric).keys()">
            <div *ngFor="let itemsetID of plotIDsByMetric.get(metric).get(queryID)">
              <app-plot queryID={{queryID}} itemsetID={{itemsetID}}></app-plot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Messages -->
<div class="footer" *ngIf="displayMessages">
  <app-messages></app-messages>
</div>