<div class="dataHeader">
  <app-data-header> </app-data-header>
</div>

<!-- DATA HOMEPAGE -->
<div *ngIf="displayType=='DataHomepage'">
  <br>
  <h1> Data Homepage </h1>
  <div class="data-home">
    <app-data-home></app-data-home>
  </div>
</div>

<!-- History -->
<div *ngIf="displayType=='History'">
  <br>
  <h1> Query History </h1>
  <button (click)="exploreSelected()"> Explore </button>
  <button (click)="newQuery()"> New </button>
  <button (click)="editSelected()"> Edit </button>
  <button (click)="deleteSelected()"> Delete </button>
  <br>
  <br>
  <table cellpadding="20" border="1px" width="100%">
    <tr *ngFor="let id of validIDs" (click)="selectID(id)" [style.background-color]="getSelectedColor(id)" id="summary{{id}}">
      <td class="summary"> <app-query-summary id={{id}}></app-query-summary> </td>
    </tr>
  </table>
</div>

<!-- QUERY WIZARD -->
<div *ngIf="displayType=='Edit'">
  <br>
  <h1> Query Editor </h1>
  <div id="wizard{{editID}}" class="wizard">
    <app-query-wizard id={{editID}}></app-query-wizard>
  </div>

  <div id="cell{{editID}}" class="cell">
    <app-cell id={{editID}}></app-cell>
  </div>

</div>

<!-- EXPLORE EXPLANATIONS -->
<div class="row" *ngIf="displayType=='Explore'">
  <div class="column">
    <br>
    <h1> Explore </h1>
    <div *ngFor="let id of exploreIDs">
      <div id="summary{{id}}" class="summary" style="background-color:burlywood">
        <app-query-summary id={{id}}></app-query-summary>
      </div>
      <div id="cell{{id}}" class="cell">
        <app-cell id={{id}}></app-cell>
      </div>
      <br>
    </div>
  </div>

  <div class="column" style="text-align:center; font-size:20px;">
    <br> <br> <br>
    <button id="plotButton" (click)="togglePlot()">Plot</button>
    <br> <br>
    <div *ngIf="isPlot">
      <div *ngFor="let metric of plotIDsByMetric.keys()">
        <b> Metric: {{metric}} </b>
        <div *ngFor="let queryID of plotIDsByMetric.get(metric).keys()">
          <div *ngFor="let itemsetID of plotIDsByMetric.get(metric).get(queryID)">
            <app-plot queryID={{queryID}} itemsetID={{itemsetID}}></app-plot>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="footer" *ngIf="displayMessages">
  <app-messages></app-messages>
</div>