.title {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #333;
    padding: 1% 1%;
}

.wizard {
/*    height: 100%;
    width: 30%;*/
    top: 0;
    left: 0;
/*    padding-top: 10px;
    padding-left: 10px;*/
    color: black;
    background-color: #C0C0C0;
}

.cell {
    display: block;
    color: black;
    /*width: 100%;
    height: 50%;*/
    top: 0;
    left: 0;
    background-color: #C0C0C0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    width: 100%;
    background-color: gray;
    color: black;
    text-align: left;
}