.title {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #333;
    padding: 1% 1%;
}

.dataHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.data-home{
}

.wizard {
    display: block;
    border-color: black;
    border-style: solid;
    background-color: whitesmoke;
}

.cell {
    display: block;
    color: black;
    top: 0;
    left: 0;
    background-color: white;
    border-color: black;
    border-style: solid;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    width: 100%;
    background-color: gray;
    color: black;
    text-align: left;
}

button {
  color: black;
}

input {
}

.summary {
  padding: 15px;
  text-align: left;
  border: 1px solid black;
}

.column {
    float: left;
    width: 50%;
    padding: 0px;
}

.column-small {
    float: left;
    width: 40%;
    padding: 0px;
}

.column-big {
    float: left;
    width: 60%;
    padding: 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}